
*{
    padding:0px;
    margin:0px;

    box-sizing: border-box ;
    }
    .hero{
        display:flex;
        width: 100%;
        height: 100vh;
        background-image:linear-gradient(rgba(0,0,0,0.2),#3551b5) , url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRqz3SWgoSGEO8UAtJepYcjNDTsOCOs9VNSlA&usqp=CAU") ;
        background-position: center;
        background-size: cover;
        align-items: center;
        justify-content: center;
    }
    #form{
        width: 90%;
        max-width: 600px;  
    }
    
    .mb-4{
        margin-top: 10px;
 margin-left:-240px;
 cursor:pointer;

    }
    .mb-5{
 margin-left:-15px;

    }
    
    .form-label{
        font-size: 25px;
        font-weight: 500;
        margin-left: 220px;
        height: 100%;
        
        padding: 2px;
        transition: 0.2s;
        }
        input, textarea{
            background-color: cornsilk;
            width: 100%;
            padding: 10px;
            outline: 0;
            border: 1px solid #fff;
            color:blue;
            background: transparent;
            font-size: 25px;
            cursor:pointer;
    
        }

button{
    
    font-size: 20px;
     font-weight: bolder;
     outline: none;
     background-color:lightskyblue;
      margin-top: 20px;
      border-radius: 10px;
     padding:12px 0;
     cursor: pointer;
     width: 100%;
}
.container-fluid{
    margin-left:800px;

}
.navbar{
    
    margin-left: 70px;
}

a{

font-weight: bolder;
font-size: larger;
text-decoration: underline;
margin-left: 265px;
color: black;
}

#btn{
    cursor: pointer;
    width: 50%;
    margin-left:180px ;
    font-size: 16px;
    background: #3551b5;
    box-sizing:border-box ;
    border-radius: 10px;
}
