
<router-outlet></router-outlet>
<div class ="hero">
 

<form [formGroup]="userForm" id="form">
    <div class="navbar">
        <h1><i class="fas fa-users"></i>Wildcards Project Manager</h1>
    </div>
    <br>
   <div class ="mb-3">
       <label class ="form-label"><i class="fas fa-user"></i>Username</label>
       <input type="text" id ="username" class="form-control" formControlName="username">
   </div>

    <div class ="mb-3">
       <label class ="form-label"><i class="fas fa-lock"></i>Password</label>
       <input type="password" id ="password" value="password"class="form-control" formControlName="password">
    </div>
    
<button class="btn btn-primary" id ="loginButton" (click)="login(userForm)" >Login</button>

<!-- <input type ="checkbox" ><span>Remember Me</span> -->

  <div class ="mb-4"> 
      <span>
     <small> <a routerLink="../api">Forgot password?</a></small>
     <small> <a routerLink="../register">Register</a></small>
    </span>
    </div>

</form>

</div>



