*{
    margin-top:0;
    padding:0px;
}
.form-label{
    font-size: 15px;
    font-weight: bolder;
    margin-left: 20px;
    height: 100%;
    margin-top: 0%;
    padding: 2px;
    transition: 0.2s;
    }
    input,textarea{
        background-color: cornsilk;
        width: 50%;
        padding: 10px;
        outline: 0;
        border: 1px solid #fff;
        color:blue;
        background: transparent;
        font-size: 25px;
        cursor:pointer;
    }
    button{
        font-size: 18px;
         font-weight: bolder;
         outline: none;
         background-color:cadetblue;
          margin-top: 10px;
          margin-left: 25%;
          border-radius: 6px;
         padding:15px 0;
         cursor: pointer;
         width: 12%; 
    } 
     .hero{
         width: 100%;
     height: 96vh;
     background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbkM7JfNFG-QjPmWtMHe-JvzvxdRJdmxAD_Q&usqp=CAU");
     background-size: cover;
     box-sizing: border-box;
     background-position: center;
     }
     
     .nav a.active{
         display:flex;
         padding:9% 0.8.5%;
         justify-content: space-between;
        color:aqua;
     }
     .container-fluid{
      background:#00CED1;
      
     }
     .nav-link {
         display:flex;
         padding: 5% 6%;
         justify-content: space-between;
         align-items: center;   
     }
       /* .form-check{
         margin-left: -72px;
            } 

        .form-check-label{
         margin-top:10px;
         font-size: 20px;
         padding: 10px;
     } 
     .form-label{
         padding: 15px;
     } 
       */

       .form-label{
        margin-left: 20px;
        font-size: 20px;
    }
    .form-check{
        margin-left: 15px;
        padding: 5px;
        font-size: 20px;
        font-weight: bold;
    }
 #checkboxinput{
       margin-right:2px;
       margin-top: 15px;
       width:1.25em; 
       height:1.25em;
       border-radius: 3px;
       border:2px solid gray;
       padding: 10px;

     }  
     
      .form-control{
          background-color: #B0E0E6;
         font-weight:bolder;
         font-size: 18px;
         width:50%;
      }
        .btn2{
         font-weight: bolder;
         background-color: cadetblue;
         margin-left:160px;
         width: 34%;
         margin-top: 2px;
         padding: 10px;
     }    
     .navbar{
        font-weight: bolder; 
        margin-bottom: 0px;
        width:100%; 
     }
     .container form{
        border:rgba(0,0,0,0,12)5px solid;
        border-radius: 20px;
        box-sizing:content-box;
        margin-left: 20%;
       padding: 15px;
    
    } 
    .container{
        max-width: 900px;
        width: 100%;
        max-height: 100%;
        border:rgba(0,0,0,0,12)1px solid;
        background-color:skyblue;
        border-radius: 14px;
        padding:25px 30px;
    } 
  .mb-3{
   margin-left:-0px;
   margin-top: 20px;
    }
    /* @media(max-width:584px){
        .container{
            max-width:900px;
        } */
     /*  [type="checkbox"]{
        opacity:0;
    }
    [type="checkbox"]+label{
        position: relative;
        padding-left: 30px;
        cursor: pointer;
        display: inline-block;
        color: black;
        line-height: 25px;

    } 
    [type="checkbox"]+label::before{
        content:"";
        position:absolute;
        left:0;
        top:0;
        width: 18px;
        height: 18px;
        outline: 2px solid #aaa;
        background: #fff;
    }
     [type="checkbox"]:checked +label::after{
        content:"";
        position:absolute;
        left: 0;
        top: 0;
        width: 18px;
        height: 18px;
        outline: 2px solid #aaa;
        background: #fff;
    }
   */
    
    