<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
   
    <a class="navbar-brand" routerLink="../task"><i class="fas fa-users"></i>Wildcards Project Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="../create" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Project
          </a>
        <li class="nav-item">
          
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Task All
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="../taskcreate">Create Task</a></li>
            <li><a class="dropdown-item" routerLink="../taskmanager" >ViewTask</a></li>
            <li><hr class="dropdown-divider"></li>
            <!-- <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li> -->
          </ul>
        </li>

        
      </ul>
      <!-- <div class="login">
         <button *ngIf ="!loggedin()"class="btn btn-primary" id ="loginButton"> <a class="link" routerLink="/login" >{{loggedUser}}</a></button> 
        </div>  -->

        <div class="logout">
         <input type ="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        <button type="submit"  class="btn btn-secondary btn-lg" ><a class="logoutlink" (click)="onLogout()">Logout</a></button>
        </div>
      
    </div>
  </div>
</nav>
<div class="container2">
<div class = "hero">
   
  <form class="form-tabel" id="tableform">
    <table class="table table-grey table-striped " style="font-weight:450" id="tasktable">

      <thead>
        <tr>
          <th scope="col">TaskName</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Tag</th>
          <th scope="col">DueDate</th>
          <th scope="col">Priority</th>
          <th scope="col">Users</th>
        </tr>
      </thead>
      <tbody>

        <tr *ngFor="let task of taskList">
          <td><a id="TaskName" style="color:black" [routerLink]="['/taskview', task.taskName]">{{task.taskName}}</a></td>
          <td id="description">{{task.description}}</td>
          <td id="statusTask">{{task.statusTask}}</td>
          <td id="projectid">{{task.tag}}</td>
          <td id="dueDate">{{task.dueDate}}</td>
          <td id="priorityString">{{task.priority}}</td>
          <td>
            <p id="userList" *ngFor="let user of task.useList">{{user.fName}}</p>
          </td>
        </tr>

      </tbody>
    </table>
  