<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
     
      <a class="navbar-brand" routerLink="../taskName"><i class="fas fa-users"></i>Wildcards Project Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="../employeehome" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Project
            </a>
          <li class="nav-item">
            
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Task All
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="../taskmanagere" >ViewTask</a></li>
              <li><hr class="dropdown-divider"></li>
              <!-- <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li> -->
            </ul>
          </li>
  
          
        </ul>
        <form class="d-flex">
          <i class="fas fa-searchengine"></i>
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          
           <!-- <button class="btn btn-outline-success" type="submit">Information</button>  -->
        </form>
  
        <div class="logout">
          <form action="" method ="post" class="right">
          <input type ="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
          <button type="submit"  class="btn btn-secondary btn-lg">Logout</button>
          </form>
          
          </div>
      </div>
    </div>
  </nav>
  <div class = "hero"> 
    <form class="form-tabel" id="tableform">
      <table class="table " id="tasktable">
  
        <thead>
          <tr>
            <th scope="col">TaskName</th>
            <th scope="col">Description</th>
            <th scope="col">Status</th>
            <th scope="col">Tag</th>
            <th scope="col">DueDate</th>
            <th scope="col">Priority</th>
            <th scope="col">Users</th>
          </tr>
        </thead>
        <tbody>
  
          <tr *ngFor="let task of taskList">
            <td><a style="color:black" [routerLink]="['/taskviewe', task.taskName]">{{task.taskName}}</a></td>
            <td>{{task.description}}</td>
            <td>{{task.statusTask}}</td>
            <td>{{task.tag}}</td>
            <td>{{task.dueDate}}</td>
            <td>{{task.priority}}</td>
            <td>
              <p *ngFor="let user of task.useList">{{user.fName}}</p>
            </td>
          </tr>
  
        </tbody>
      </table>
