<div class="container vh-100">
    <div class="row justify-content-center h-100">
      <div class="card my-auto shadow">
        <div class="card-body p-5">
  
          <div class="container "></div>
          <div class="text-center"></div>
  
          <h1><i class="fas fa-lock"></i>Forgot Password</h1>
          <p>Please enter your email to reset your Password </p>
        </div>
  
        <form [formGroup]="userForm" id="form">
  
          <div class="formGroup">
  
            <input type="email" id="username" name="username" placeholder="Email" class="form-control" formControlName="username" />
          </div>
          <button class="btn btn-primary" id ="changePassword" (click)="changePassword(userForm)" >Submit</button>
        </form>
      </div>
    </div>
</div>
  
