*{

    margin:0px;
    padding: 0px;
}

 .container{ 
     display: block;
   margin-left: 30%;
   width: 40%;
    margin-top: 5%;
    
    
    /* display: block;
    margin-left: 10%;
    background-color: antiquewhite;
    border-radius: 90px;
     */
} 

   .fas fa-lock{
       margin-right: 90px;

}
.formGroup{
    margin-top: 50px;
    text-align: center;
    font-size: 20px;
     font-weight:600;
     padding:5px;
}
a:hover{
cursor: pointer;
}
input{
    background-color: cornsilk;
    width: 90%;
    background:beige;
       font-size: 20px;
    cursor:pointer;
    text-align:left;
    padding: 10px;
}
.footer{
    text-decoration: underline;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
    color: blue;
}
