<div class="container vh-100">
  <div class="row justify-content-center h-100">
    <div class="card my-auto shadow">
      <div class="card-body p-5">

        <div class="container "></div>
        <div class="text-center"></div>

        <h1><i class="fas fa-lock"></i>Forgot Password</h1>
        <p>Please enter your email to reset your Password </p>
      </div>

      <form [formGroup]="userForm" id="form">

        <div class="formGroup">

          <input type="email" id="username" name="username" placeholder="Email" class="form-control" formControlName="username" />
        </div>

        <!-- div class="formGroup">
<label for="confirmPassword">Confirm Password:</label>
<input type="password" id="confirmPassword" name="confirmPassword" title="Confirm new password" />
   -->
        <!-- <div class="formGroup">

<input type="text" id="token" name="token" value="Password Token" />
  </div> -->
        <div class="formGroup">
          <p class="form-actions">
            <input type="password" id="password-reset" name="password-reset" placeholder="Reset Password" title="Reset password" class="form-control" formControlName="password" />
          </p>
        </div>
      </form>

<div class="footer text-center">
  <small><a routerLink="/login">Back to login</a></small>
</div>
<!-- </div>
</div>-->

      <button class="btn btn-primary" id ="changePassword" (click)="changePassword(userForm)" >Submit</button>
      <!-- </div>
</div>-->
