.form-label{
    font-size: 15px;
    font-weight: bolder;
    margin-left: 20px;
    height: 100%;
    margin-top: 0%;
   
    padding: 2px;
    transition: 0.2s;
    }
    input, textarea{
        background-color: cornsilk;
        width: 50%;
        padding: 10px;
        outline: 0;
        border: 1px solid #fff;
        color:blue;
        background: transparent;
        font-size: 25px;
        cursor:pointer;
    }
    button{
    
        font-size: 18px;
         font-weight: bolder;
         outline: none;
         background-color:lightskyblue;
          margin-top: 20px;
          border-radius: 6px;
         padding:12px 0;
         cursor: pointer;
         width: 100%;
         margin-top: -1%;
    }

     .hero{
         width: 100%;
     height: 120vh;
     background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbkM7JfNFG-QjPmWtMHe-JvzvxdRJdmxAD_Q&usqp=CAU");
     background-size: cover;
     box-sizing: border-box;
     background-position: center;
     }
     
     .nav a.active{
         display:flex;
         padding:9% 0.8.5%;
         justify-content: space-between;
        color:aqua;
     }
     .container-fluid{
      background:#00CED1;
      
     }
      
     .nav-link {
         display:flex;
         padding: 5% 6%;
         justify-content: space-between;
         align-items: center;
         
     } 
      .form-control{
          background-color: #B0E0E6;
         font-weight:bolder;
         font-size: 18px;
     
     } 
       button{
         font-weight: bolder;
         background-color: cadetblue;

     }  
     .logout{
         margin-left: 10px;
         
     }
     .navbar{
        font-weight: bolder; 
        margin-bottom: 0px;
        width:120%;
       
     }
