<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
     
      <a class="navbar-brand" routerLink="../taskName"><i class="fas fa-users"></i>Wildcards Project Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="../employeehome" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Project
            </a>
          <li class="nav-item">
            
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Task All
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="../taskmanagere" ng if >ViewTask</a></li>
              <li><hr class="dropdown-divider"></li>
              
            </ul>
          </li>
        </ul>

        <div class="logout">
          <!-- <form action="" method ="post" class="right">
          <input type ="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
          <button type="submit"  class="btn btn-secondary btn-lg">Logout</button>
          </form> -->
          
        <div class="logout">
          <input type ="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
         <button type="submit"  class="btn btn-secondary btn-lg" ><a class="logoutlink" (click)="onLogout()">Logout</a></button>
         </div>
       
          </div>
      </div>
    </div>
  </nav>
  <div class = "hero"> 

<form [formGroup] ="taskForm">
    <label class=" form-label">Change Status</label>
    <select class="form-control" formControlName="Status">
        <option value = "Pending">Pending</option>
        <option value = "Completed">Completed</option>
        <option value = "Working on">Working On</option>
    </select>
    <label class=" form-label">Change Priority</label>
    <select class="form-control" formControlName="Priority">
        <option value = "High">High</option>
        <option value = "Medium">Medium</option>
        <option value = "Low">Low</option>
    </select>
    <div class="mb-3">
        <label class=" form-label">Tag</label>
        <input type="text" id="projectid" class="form-control" formControlName="tag">
    </div>
    <button class="btn btn-primary" id="submit" (click)="submit(taskForm)">Submit</button>
</form>
