*{
    margin:90px;
    padding:0px
}

.container{
    display: block;
    margin-left: 10%;
    background-color:antiquewhite;
    border-radius: 90px;
}
.error-details{
    font-weight: bold;
    font-size: 20px;
}
.g{
   margin-right: -180px;
}
a{
    cursor:pointer;
    color: blue;
    font-weight: bolder;

}
