<div cklass="register">
<form [formGroup]="registerForm" id="form" > 
    <div class="container">
      <h1>Register</h1>
      <p>Please fill in this form to create an account.</p>
      <hr>
      <label for="FirstName"><b>First Name</b></label>
      <input type="text" placeholder="First Name" name="FirstName" id="FirstName"  formControlName="fname" required>
      
      <label for="email"><b>Last Name</b></label>
      <input type="text" placeholder="Last Name" name="LastName" id="LastName"  formControlName="lname" required>

      <label for="LastName"><b>Email</b></label>
      <input type="text" placeholder="Enter Email" name="email" id="email"   formControlName= "username" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" id="psw"  formControlName="password" required>
  
      
      <input type="password" placeholder="Repeat Password" name="psw-repeat" id="psw-repeat" required>
      <hr>
  
      <p>By creating an account you agree to our Terms & Privacy.</p>
      <button type="submit" class="registerbtn"  id="registerButton" (click)="register(registerForm)" >Register</button>
    </div>
  
    <div class="container signin">
      <p>Already have an account? <a routerLink="../login">Sign in</a>.</p>
    </div>
  </form>
</div>