<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
     
      <a class="navbar-brand" routerLink="../task"><i class="fas fa-users"></i>Wildcards Project Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="../create" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Project
            </a>
          <li class="nav-item">
            
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Task All
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="../taskcreate">Create Task</a></li>
              <li><a class="dropdown-item" routerLink="../taskmanager" >ViewTask</a></li>
              <li><hr class="dropdown-divider"></li>
              
            </ul>
          </li>

          
        </ul>
        
        <div class="logout">
          <input type ="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
         <button type="submit"  class="btn btn-secondary btn-lg" ><a class="logoutlink" (click)="onLogout()">Logout</a></button>
         </div>
        
      </div>
    </div>
  </nav>
  <div class = "hero"> 
    <div class="container">
    <form [formGroup]="projectForm" id="form">
        <div class="mb-3">
            <label class=" form-label">ProjectName</label>
            <input type="text" id="projectName" class="form-control" formControlName="projectName">
        </div>

        <div class="mb-3">
            <label class=" form-label">Description</label>
            <textarea id="description" rows="5" cols="30" class="form-control" formControlName="description"name="description">Describe</textarea>
        </div>

        <div class="mb-3">
            <label class=" form-label">DueDate</label>
            <input type="date" id="dueDat" class="form-control" formControlName="dueDate">
        </div>
            <div class="form-check" *ngFor="let fname of fNameList">
                <input type="checkbox" id ="checkbox"ngModel (ngModelChange)="onChecked(fname.fName, $event)" [ngModelOptions]="{standalone: true}">
                <label class="form-check-label" for="flexCheckChecked">
                    {{fname.fName}}</label>
            </div>
        <br>

        <button class="btn2 btn-primary" id="submit" (click)="submit(projectForm)">Submit</button>
        
    </form>