<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
     
      <a class="navbar-brand" routerLink="../taskName"><i class="fas fa-users"></i>Wildcards Project Manager</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
         <ul class="navbar-nav me-auto mb-2 mb-lg-0">
           
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="../create" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Project
            </a>
          <li class="nav-item">
            
          </li>
  
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle"id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Task All
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="../taskcreate">Create Task</a></li>
              <li><a class="dropdown-item" routerLink="../taskmanager" >ViewTask</a></li>
              <li><hr class="dropdown-divider"></li>
              
            </ul>
          </li>
        </ul>
        
        <div class="logout">
          <input type ="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
         <button type="submit"  class="btn2 btn-secondary btn-lg" ><a class="logoutlink" (click)="onLogout()">Logout</a></button>
         </div>
        
      </div>
    </div>
  </nav>
  <div class = "hero"> 
  <div class="container">
  <form [formGroup] ="taskForm">
    <div class="mb-3">
      <label class="form-label1">Task Name</label>
      <input type="text" id="TaskName" class="form-control" formControlName="taskName">
  </div>
  <div class="mb-3">
    <label class=" form-label">Description</label>
    <input type="text" id="Description" class="form-control" formControlName="description">
</div>

<div>
    <label class=" form-label1">Choose Status</label>
    <select id="statusTask" class="form-control2" formControlName="statusTask">
        <option value = "Pending">Pending</option>
        <option value = "Completed">Completed</option>
        <option value = "Working on">Working On</option>
    </select>
  </div>

    <div class="mb-3">
        <label class=" form-label">DueDate</label>
        <input type="date" id="dueDate" class="form-control" formControlName="dueDate">
    </div>
    <div>
    <label class=" form-label1">Choose Priority</label>
    <select id="priorityString" class="form-control1" formControlName="priorModel">
        <option value = "High">High</option>
        <option value = "Medium">Medium</option>
        <option value = "Low">Low</option>
    </select>
    </div>
    <br>
     <div>
    <label class=" form-label2">Choose Project</label>
    <select id="projectName" class="form-control1" formControlName="projectName">
        <option value = "{{fname.projectName}}"  *ngFor="let fname of fNameList">{{fname.projectName}}</option>
    </select>
  </div>
    <div class="mb-3">
        <label class=" form-label">Tag</label>
        <input type="text" id="projectid" class="form-control" formControlName="tag">
    </div>
    <button class="btn btn-primary" id="submit" (click)="submit(taskForm)">Submit</button>
</form>
</div>