*{
    margin-top: 0%;
    padding: 0px;
    
}

#form{

    width: 90%;
    max-width: 600px; 
    margin-left: 20px;
    
}
.form-label{
    font-size: 15px;
    font-weight: bolder;
    margin-left: 20px;
    height: 100%;
    margin-top: 1%;
    padding: 2px;
    transition: 0.2s;
    }
    input, textarea{

        background-color: cornsilk;
        width: 50%;
        padding: 10px;
        outline: 0;
        border: 1px solid #fff;
        color:blue;
        background: transparent;
        font-size: 25px;
        cursor:pointer;
    }
     .btn2{
        width: 80%;
        font-size: 18px;
         font-weight: bolder;
         outline: none;
          margin-top: 20px;
          border-radius: 6px;
         padding:12px 0;
         cursor: pointer;
         margin-top: 1%;
         margin-left: 18%;
            background-color: cadetblue;
            margin-right: 30px;
           
            outline: none;
    } 
     .hero{
         width: 100%;
     height: 94.4vh;
     background-image:url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbkM7JfNFG-QjPmWtMHe-JvzvxdRJdmxAD_Q&usqp=CAU");
     background-size: cover;
     box-sizing: border-box;
     background-position: center;
     }
     
     .nav a.active{
         display:flex;
         padding:9% 0.8.5%;
         justify-content: space-between;
        color:aqua;
     }
     .container-fluid{
      background:#00CED1;
      
     }
     .navbar{
         width:100%
     }
      
     .nav-link {
         display:flex;
         padding: 5% 6%;
         justify-content: space-between;
         align-items: center;
         
     } 
      .form-control{
          background-color: #B0E0E6;
         font-weight:bolder;
         font-size: 18px;
     
     } 
       button{
         font-weight: bolder;
         background-color: cadetblue;
         width: 20%;
        margin-left: 33%;
        border-radius: 6px;
         padding:12px 0;
         cursor: pointer;
     }  
     .logout{
         margin-right:2px;
         
     }
     .form-label1{
        font-size: 15px;
        font-weight: bolder;
        margin-left: 20px;
        height: 100%;
        margin-top: 1%;
        padding: 2px;
        transition: 0.2s;
        
        }
        .form-control1{
            background-color: #B0E0E6;
           font-weight:bolder;
           font-size: 18px;
           width:42.5%;
           padding: 11px;
       
       } 
     .form-label2{
        font-size: 15px;
        font-weight: bolder;
        margin-left: 20px;
        height: 100%;
        margin-top: 2%;
        padding: 2px;
        transition: 0.2s;
        
        }
        .form-control2{
            background-color: #B0E0E6;
           font-weight:bolder;
           font-size: 18px;
           width:51%;
           padding: 10px;
       
       } 
      
        .logoutlink{
            color:white;
            text-decoration: none;
        }
        .container form{
            border:rgba(0,0,0,0,12)5px solid;
            border-radius: 20px;
            box-sizing:content-box;
            margin-left: 20%;
           padding: 15px;
        
        } 
        .container{
            max-width: 900px;
            width: 100%;
            max-height: 100%;
            border:rgba(0,0,0,0,12)1px solid;
            background-color:skyblue;
            border-radius: 14px;
            padding:25px 30px;
        } 
         .mb-3{
          margin-left: 20%;
          width:100%;
        
         }
       #dueDate{
     width:50.5%;
       }