<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
   
    <a class="navbar-brand" routerLink="../taskName"><i class="fas fa-users"></i>Wildcards Project Manager</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
       <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="../task" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          Project
          </a>
        <li class="nav-item">
          
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle"id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Task All
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="../taskmanagere" >ViewTask</a></li>
            <li><hr class="dropdown-divider"></li>
           
          </ul>
        </li>
      </ul>
       
       <!--  <div class="login">
          <button *ngIf ="!loggedin()"class="btn btn-primary" id ="loginButton"> <a class="link" routerLink="/login" >{{loggedUser}}</a></button>
          </div> -->

          <div class="logout">
           <input type ="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
          <button type="submit"  class="btn btn-secondary btn-lg" ><a class="logoutlink" (click)="onLogout()">Logout</a></button>
          </div> 

    </div>
  </div>
</nav>
<div class = "hero"> 

   <section class="heading">
    <h2>Your Projects</h2>
  <br>
    <ul>
     <div [routerLink]="['/view', project.projectName]" id="row" *ngFor="let project of projectList">
      <div id="task">
        <li><p>{{project.projectName}}</p>
        <img  [src] = "'data:image/jpg;base64,' + project.imgName.data" ></li>
      </div>
    </div>
    
    </ul>

  </section> 